*{
  padding: 0;
  margin:0;
  
}

header{
  background-color: orangered;  
  height: 100px;
}

#logo_nav{
  padding: 40px 0px 0px 100px; 
  display: flex;
}

#univ_name{
  text-transform: uppercase; 
  color: white; 
  margin-top: 3px; 
  padding-left: 15px; 
  font-size: 25px;
}

#nav{
  margin: 3px 0px 0px 150px; 
  display: grid; 
  grid-template-columns: auto auto auto auto auto auto; 
  width: 750px;
  color: white;
  font-size: 20px;
}

nav{
  display: grid; 
  grid-template-columns: auto auto auto auto auto auto auto auto; 
  background-color: black; 
  opacity: 0.5; 
  color: white; 
  font-size: 18px; 
  height: 40px; 
  text-align: center; 
  padding-top: 15px;
  position: sticky;
  margin-top: 10px;
}

